.dropBox li{
    appearance: none;
    border-radius: 5px;
    width: 100%;
}
.dropBox{
    position: absolute;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
    height: auto;
    display: flex;
    flex-direction: column;
}