.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: rgb(98, 215, 215);
    border-radius: 5px;
    padding: 2vh 2vw;
    position: sticky;
    top: 2vh;
    z-index: 100;
}

.logo {
    height: 100%;
    min-width: 20vw;
    border-radius: 5px;
    font-variant: small-caps;
    letter-spacing: 3px;
    font-size: 30px;
    font-family: 'Candara';

}

.nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40vw;


}